<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details | YogaVitalGym</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/customer-homepage.css' %}">

</head>
<body>
    {% include 'navbar.html' %}

    <section id="section-1" style="background-image: url('{% static 'images/signup/1.jpg' %}');">
        <div class="section-heading">
            <p>Customer Page</p>
        </div>
    </section>



    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Profile Updation</button>
        </li>
      </ul>




      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <form class="row g-3 needs-validation" action= "{% url 'Gym_Customers:update-account' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if error == 'empty-fields' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>ERROR</strong> You should check in on some of those fields below.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            
            {% if success == 'done' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>DONE</strong> Updation is successfull.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}     
                <section id="customer-information">
                    <div class="row info-container">
                        <div class="col-md-6 left-side">
                            <p>
                                <section class="row"><section id="data-label" class="col-md-6"><b>Customer ID : </b></section><section id="data-label">{{customer_data.customer_id}}</section></section><br>
                                <section class="row"><section id="data-label" class="col-md-6"><b>Customer Name : </b></section><section id="data-label" class="col-md-6"><input name= "customer_name" type="text" class="form-control" id="customer_name" placeholder="Full Name" value="{{customer_data.customer_name}}"></section></section>
                            </p>
                            {% if customer_data.customer_image %}
                            <img src="{{customer_data.customer_image.url}}" alt="{{customer_data.customer_image.title}}">
                            {% else %}
                            <img src="{% static 'images/profile-photo-placeholder.jpg' %}" alt="placeholder-image">
                            {% endif %}                                
                                <div class="input-group mb-3 photo-upload">
                                    <input type="hidden" name="customer_id" value="{{customer_data.customer_id}}">
                                    <input type="file" class="form-control" id="photo-file" aria-describedby="photo" aria-label="Upload" name="image">
                                </div>
                        </div>       
                        <div class="col-md-6 right-side">
                            <div class="d-flex justify-content-between"> 
                                <h1>Customer Details</h1>
                            </div>
                            <div class="alter-btn">
                                <a class="edit" href="{% url 'Gym_Customers:update-account' %}"><i class="bi bi-pencil-square"></i></a>
                                <a class="delete" href="{% url 'Gym_Customers:delete-account' %}"><i class="bi bi-trash"></i></a>
                            </div>
                            <div class="details">
                                {% if error == 'mobile-error' %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <strong>ERROR</strong> Please check the mobile number.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endif %}
                                {% if error == 'email-error' %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>ERROR</strong> Please check the E-Mail.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                                <p>
                                    <section class="row"><section id="data-label" class="col-md-6"><b>Email : </b></section><section id="data-label" class="col-md-6"><input name= "customer_email" type="text" class="form-control" id="customer_email" placeholder="Email" value="{{customer_data.customer_email}}"></section></section> 
                                </p>
                                <p>
                                    <section class="row"><section id="data-label" class="col-md-6"><b>Mobile : </b></section><section id="data-label" class="col-md-6"><input name= "customer_mobile" type="text" class="form-control" id="customer_mobile" placeholder="Mobile" value="{{customer_data.customer_mobile}}"></section></section> 
                                </p>
                                <p>
                                    <section class="row"><section id="data-label" class="col-md-6"><b>Address: </b></section><section id="data-label" class="col-md-6"><input name= "customer_address" type="text" class="form-control" id="customer_address" placeholder="Address" value="{{customer_data.customer_address}}"><input name= "customer_city" type="text" class="form-control" id="customer_city" placeholder="City" value="{{customer_data.customer_city}}"><input name= "customer_state" type="text" class="form-control" id="customer_state" placeholder="State" value="{{customer_data.customer_state}}"><input name= "customer_country" type="text" class="form-control" id="customer_country" placeholder="Country" value="{{customer_data.customer_country}}"><input name= "customer_pin" type="text" class="form-control" id="customer_pin" placeholder="PIN" value="{{customer_data.customer_pin}}"></section></section>
                                </p>                    
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" id="photo" style="margin-left: 40%;">Update</button>                   
                </section> 
            </form>      
            <button class="btn btn-primary" type="submit" id="photo" style="margin-left: 60%; margin-bottom: 5%;" onclick="window.location.href='{% url 'Gym_Customers:customer-homepage' %}'">Back</button>                   
        </div>


        

    
    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
