<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diet Planning | YogaVitalGym</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/diet-plan.css' %}">
</head>

<body>

    {% include 'navbar.html' %}



    <section id="page-title" style="background-image: url('{% static 'images/diet-plan/diet1.jpg' %}');">
        <div class="title">
            <p>Diet Planning Section</p>
        </div>
    </section>

    <section id="content-section-1">
        <div class="row" id="content-1">

            <div class="col-md-6" id="content-1-leftside">
                <div id="content-1-carousel-1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/diet-plan/diet2.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet3.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet4.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet5.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="content-1-rightside">
                <b>
                    <p id="heading">Unlock Your Full Potential with Personalized Diet Planning</p>
                </b>
                <p>Welcome to our diet planning section, where we believe that nourishing your body with wholesome,
                    balanced nutrition is the foundation for optimal health and wellness. Whether you're looking to lose
                    weight, gain muscle, improve your energy levels, or simply adopt a healthier lifestyle, our
                    personalized diet planning services can help you achieve your goals.</p><br>
            </div>

            <div class="col-md-6" id="content-1-leftside-2">
                <br>
                <b>
                    <p id="heading">Why Diet Planning ?</p>
                </b>
                <ul>
                    <p>Nutrition plays a crucial role in every aspect of our lives, impacting not only our physical
                        health but also our mental clarity, emotional well-being, and overall vitality. With
                        personalized diet planning, you can:</p>
                    <p>
                        <li><u>Optimize Nutrient Intake</u>: By carefully selecting foods rich in essential nutrients,
                            vitamins, and minerals, you can ensure that your body has everything it needs to function at
                            its best.<br></li>
                    </p>
                </ul>
            </div>
            <div class="col-md-6" id="content-1-rightside-2">
                <div id="content-1-carousel-1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/diet-plan/diet6.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet7.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet8.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet9.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="content-1-leftside">
                <div id="content-1-carousel-1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/diet-plan/diet10.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet11.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet12.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet13.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="content-1-rightside">
                <ul>
                    <p>
                        <li><u>Support Weight Management</u>: Whether your goal is to lose weight, gain muscle, or
                            maintain a healthy weight, a customized meal plan can provide the guidance and structure you
                            need to reach your desired outcome.<br></li>
                        <li><u>Boost Energy and Performance</u>: Fueling your body with the right balance of
                            carbohydrates, proteins, and fats can help to optimize energy levels, enhance athletic
                            performance, and support recovery.<br></li>
                    </p>
                    <br>
                </ul>
            </div>

            <div class="col-md-6" id="content-1-leftside-2">
                <ul>
                    <p>
                        <li><u>Improve Digestive Health</u>: A well-balanced diet can promote gut health and digestive
                            function, reducing discomfort and supporting nutrient absorption.<br></li>
                        <li><u>Enhance Mental Clarity</u>: Certain foods and nutrients have been shown to support
                            cognitive function and brain health, improving focus, concentration, and mood.<br></li>
                        <li><u>Reduce Risk of Chronic Disease</u>: A nutritious diet rich in fruits, vegetables, whole
                            grains, and lean proteins can help to reduce the risk of chronic diseases such as heart
                            disease, diabetes, and certain cancers.</li>
                    </p>
                    <br>
                </ul>
            </div>
            <div class="col-md-6" id="content-1-rightside-2">
                <div id="content-1-carousel-1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/diet-plan/diet14.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet15.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet16.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet17.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="content-1-leftside">
                <div id="content-1-carousel-1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/diet-plan/diet18.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet19.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet20.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet21.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="content-1-rightside">
                <br>
                <b>
                    <p id="heading">Our Approach</p>
                </b>
                <p>At YogaVitalGym, we take a holistic approach to diet planning, considering not only your specific
                    health goals but also your unique preferences, lifestyle, and dietary restrictions. Our experienced
                    dietitians will work closely with you to create a personalized meal plan that is practical,
                    sustainable, and tailored to your individual needs.</p><br>               
            </div>

            <div class="col-md-6" id="content-1-leftside-2">
                <!-- <br> -->
                <b>
                    <p id="heading">Services</p>
                </b>
                <ul>
                    <p>We offer a range of services to support you on your journey to better health and nutrition,
                        including:</p>
                    <p>
                        <li><u>Initial Consultation</u>: During your initial consultation, we'll take the time to get to
                            know you, discuss your health goals, assess your current diet and lifestyle, and identify
                            any areas for improvement.<br></li>
                        <li><u>Customized Meal Plans</u>: Based on your preferences, dietary requirements, and goals,
                            we'll create a customized meal plan that provides you with delicious and nutritious options
                            for every meal and snack.<br></li>
                    </p>
                </ul>            
            </div>
            <div class="col-md-6" id="content-1-rightside-2">
                <div id="content-1-carousel-1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/diet-plan/diet22.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet23.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet24.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet25.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="content-1-leftside">
                <div id="content-1-carousel-1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/diet-plan/diet26.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet27.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet28.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet29.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="content-1-rightside">
                <ul>
                    <p>
                        <li><u>Nutrition Coaching</u>: Our experienced dietitians will provide ongoing support and
                            guidance to help you stay on track, make informed food choices, overcome challenges, and
                            achieve lasting results.<br></li>
                        <li><u>Recipe Ideas and Cooking Tips</u>: We'll share a variety of delicious recipes & cooking
                            tips to inspire you in the kitchen & make healthy eating enjoyable and convenient.<br></li>
                        <li><u>Progress Monitoring</u>: We'll regularly monitor your progress, adjust your meal plan as
                            needed, and celebrate your successes along the way.<br></li>
                    </p>
                </ul>
            </div>

            <div class="col-md-6" id="content-1-leftside-2">
                <br>
                <b>
                    <p id="heading">Get Started Today</p>
                </b>
                <p>Ready to take control of your health and transform your life through personalized nutrition? Schedule
                    your initial consultation today and take the first step towards a happier, healthier you!</p><br>
            </div>
            <div class="col-md-6" id="content-1-rightside-2">
                <div id="content-1-carousel-1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/diet-plan/diet30.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet31.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet32.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/diet-plan/diet33.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>