#page-title{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.title{
    text-align: center;
    margin-top: 350px;
    color: whitesmoke;
    font-family: cursive;
    font-size: 100px;
}

#contact-1{
    background-color: black;
    width: 99%;
    height: 250px;
    color: whitesmoke;
    font-size: 30px;
    font-family: cursive;
}

.intro{
    width: 95%;
    margin-top: 50px;
    margin-left: 50px;
}

.column-1{
    width: 850px;
    margin-top: 30px;
    margin-left: 50px;
}

.column-2{
    width: 850px;
    margin-top: 30px;
    margin-left: 100px;
}

.social-media a{
    margin: 20px;
}

#contact-form-1{
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    color: black;
    font-size: 40px;
    font-family: cursive;
    border: 5px solid red;
}

.message-form{
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

#msg-form{
    width: 95%;
    margin-top: 50px;
}

.form-group {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 100px;
    display: flex;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 30px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
}

textarea{
    margin-left: 60px;
}

#msg-btn[type="submit"] {
    display: block;
    width: 200px;
    padding: 10px;
    font-size: 25px;
    margin-left: 800px;
    margin-top: 80px;
}

#contact-1-outro{
    background-color: black;
    width: 95%;
    height: 250px;
    margin-bottom: 50px;
    color: whitesmoke;
    font-size: 30px;
    font-family: cursive;
}

.outro{
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
}


.background-section {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
}